@import "tailwindcss"; 
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet&display=swap');

h1 {
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

